/* YATCH CLUB 
 * -----
 * RULES OF YATCH CLUB
 * (NOTE: MEMBERS MUST WEAR NAUTICAL THEMED PASHMINA AFGHAN)
 *
 * #FFFFFF WHITE
 * #83C5D1 DARK BLUE
 * #B2D9D6 LIGHT BLUE
 * #798287 DARK GREY
 * #C3DCBF OFFENSIVE GREEN
 * #C7DAD4 PASSIVE GREEN
 *
 * MEMBERS ONLY
 */

 /* COBBLE
 * -----
 * 
 * #6E7273
 * #FEF0BF
 * #DBCBAA
 * #7B7C80
 * #BEB2A2
 * #FEFED8
*/

/* COBBLE CLUB 
* ------
*  
* #245953
* #CBC370
* #3F4136
* #893E42
* #580000
* #D6C376
*/


html, body
{
	margin: 0px;
	width: 100%;
	height: 100%;
}

.non-mobile-block-only
{
	display: block;
}

.mobile-block-only
{
	display: none;
}

/* Home */
#topbar
{
	height: 40px;
	width: 100%;

	background-color: #3F4136;

}

#topbar-left
{
	float: left;
	display: inline-block;
}

#topbar-right
{
	float: right;
	display: inline-block;
	height: 40px;
	width: 140px;

}

#signin-button
{
	/*background-color: #580000;*/
	height: 100%;
	width: 100%;
	text-align: center;
	padding-top: 9px;
	font-weight: bold;
}

#signin-button a
{

	/*color: #D6C376;*/
	color: #bbb;
}


#mainbar
{
	height: 100px;
	width: 100%;
	background-color: #FFFFFF;

	background-color: #83C5D1;
	margin-top: -10px;
}

#mainbar-container
{
	margin-top: 10px;
}

#mainbar h1
{
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	
	float: left;
	font-size: 2.0em;

	margin-left: 70px;
	padding-top: 15px;

	color: #fff;


}

#mainbar-headerlinks
{
	font-family: Verdana, sans-serif;
	float: right;
	font-variant: small-caps;

}

#mainbar-headerlinks > ul > li
{
	display: inline-block;
	list-style: none;
	font-size: 1.5em;
	padding-top: 32px;
	padding-left: 30px;
}

#mainbar-headerlinks > ul > li > a
{
	color: black;
	color: #fff;
}

#mainbanner
{
	height: 600px;
	width: 100%;
	display: inline-block;
}

#banner
{
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
	background-image: url('../img/bridge.jpg');
	background-color: #3F4136;
	font-family: 'Comfortaa', cursive;
}


#followerbanner
{
	background-color: #3F4136;
	width: 100%;
	height: 100px;
	margin-top: -5px;
	padding: 0px;
}

#followerbanner > ul
{
	width: 100%;
	display: table;
}

#followerbanner > ul > li
{
	display: inline-block;
	list-style: none;
	color: #fff;
	padding-top: 40px;
	width: 19%;
	text-align: center;
	white-space: nowrap;
}

#followerbanner > p
{
	text-align: center;
	color: #bbbbbb;
	padding-top: 10px;
}

#banner-rear
{
	color: #666666;
	display: block;
	padding-top: -20px;


}

#banner-overlay-container
{
	position: relative;
}

#banner-overlay
{
	position: absolute;
	top: 70px;
	left: 0px;
	width: 55%;
	color: #000;
	z-index: 1;
}

#banner-action
{
	position: absolute;
	top: 180px;
	right: 0px;
	width: 25%;
	color: #D6C376;
	z-index: 1;
}

#banner-action-button
{
	background-color: #580000;
	border-color: #580000;
	padding: 20px;
	margin-top: 40px;
	font-size: 1.5em;
	text-transform: uppercase;
	color: #fff;
}



#banner-shouter
{
	display: block;
	text-transform: uppercase;
	font-size: 4em;
}

#banner-follower
{
	display: block;
	text-transform: none;
	font-size: 2.5em;
	padding-top: 30px;
}

.outline
{
	text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

#howitworks
{
	margin-bottom: 120px;
}

#howitworks-content
{
	text-align: center;
	margin-top: 60px;
}

#howitworks-message
{
	margin-top: 60px;
	font-size: 1.2em;
}

.mainpage-container h2
{
	font-variant: small-caps;
}

#howitworks-cols
{
	margin-top: 60px;
}

#howitworks-cols h3
{
	font-size: 3.0em;
	font-variant: small-caps;
}

#howitworks-cols img
{
	display: block;
	width: 80%;
	margin: 0 auto;

}

#howitworks-cols p
{
	display: none;
}

#footer
{
	height: 140px;
}

.width100p
{
	width: 100%;
}

.width45p
{
	width: 45%;
}


/* END Home */

/* Features */
.features
{
	font-size: 0px;
}

.features-image
{
	width: 50%;
	height: 600px;
	color: #fff;
	font-size: 12px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	
}

.features-text
{
	width: 50%;
	height: 600px;
	display: inline-block;
	font-size: 12px;
	vertical-align: top;
	text-align: center;

}

#features-website-left
{
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../img/coupletablet.jpg');
	background-color: #3F4136;
}

#features-website-right
{
	color: #fff;
	background-color: #83C5D1;
}

.mockup
{
	padding-bottom: 15px;
}

#mockup-imac
{
	width: 100%;
}

#mockup-ipad
{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 30px;
}

#mockup-iphone
{
	width: 45%;
}

.features-text > h2
{
	padding: 0px;
	margin: 0px;
	padding-top: 30px;
	font-size: 1.8em;
		font-family: 'Comfortaa', cursive;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 3px;
}

.features-text > p
{
	padding: 20px;
	text-align: justify;
	font-size: 1.4em;
}

.figure
{
	display: block;
	text-align: center;
	font-size: 10px;
}

#mockups-container
{
	width: 95%;
	max-width: 800px;
	margin: 0 auto;
	padding-top: 40px;
	font-size: 0px;
}

#howitworks-content
{
	padding-top: 30px;
}

.one-third-stacking-col
{
	width: 33%;
	display: inline-block;
}

#features-super-container
{
	font-size: 0px;
	margin-top: 50px;
}

#features-customize-left > p
{
	margin-top: 120px;
}

#features-customize-left
{
	color: #fff;
	background-color: #83C5D1;

}

#features-customize-right
{
	background-position: top top;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../img/imacdesk.jpg');
	background-color: #3F4136;
}

#features-video-container
{
	display: table;
	width: 100%;
	height: 100%;
}

#features-video-embed
{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

#features-video-embed-content
{
	padding: 5px;
	background-color: #000;
}

.btn-features-cta
{
	background-color: #580000;
	border-color: #580000;
	margin-bottom: 30px;
}

#btn-features-cta-website
{
	margin-top: 50px;
}

#btn-features-cta-customize
{
	margin-top: 100px;
}

