@media (max-width: 740px){

.non-mobile-block-only
{
	display: none;
}

.mobile-block-only
{
	display: block;
}

/* Home */
#topbar
{
	height: 20px;
	width: 100%;

}

#topbar-left
{
	float: left;
	display: inline-block;
}

#topbar-right
{
	display: none;

}

#signin-button
{
	padding-top: 0px;
}

#signin-button a
{
}


#mainbar
{
	height: 60px;
	width: 100%;
}

#mainbar-container
{
	margin-top: 0px;
}

#mainbar h1
{
	text-align: center;
	font-variant: small-caps;
	font-size: 1.8em;
	padding: 0px;
	margin: 0px;
	padding-top: 15px;
	width: 100%;
	white-space: nowrap;


}

#mainbar-headerlinks
{
	display: none;

}




#mainbanner
{
	height: 500px;
	width: 100%;
	display: inline-block;
}

#banner
{
	background-position: 60% top;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
	background-image: url('../img/bridge-mobile.jpg');
}

#followerbanner
{
	width: 100%;
	height: 20px;
	margin-top: -5px;
	padding: 0px;
}

#followerbanner > ul
{
	display: none;
}

#followerbanner > p
{
	display: none;
}

#banner-rear
{
	display: none;
}

#banner-overlay-container
{
	position: relative;
}

#banner-overlay
{
	position: absolute;
	top: 70px;
	left: 0px;
	width: 100%;
	color: #fff;
	z-index: 1;
	text-align: center;
}

#banner-action-button
{
	padding: 10px;
	font-size: 1.0em;
	text-transform: uppercase;
	font-weight: bold;
	color: #D6C376;
	width: 80%;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
}

#banner-shouter
{
	display: block;
	text-transform: uppercase;
	font-size: 2em;
	font-weight: bold;
}

#banner-follower
{
	display: block;
	text-transform: none;
	font-size: 1.5em;
	padding-top: 30px;
	color: #bbb;
}

#howitworks-content
{
	text-align: center;
	margin-top: 60px;
}

#howitworks-message
{
	margin-top: 60px;
	font-size: 1.2em;
}

#howitworks-content h2
{
	font-variant: small-caps;
}

#howitworks-cols
{
	margin-top: 60px;
}

#howitworks-cols h3
{
	font-size: 3.0em;
	font-variant: small-caps;
}

#howitworks-cols img
{
	display: block;
	width: 80%;
	margin: 0 auto;

}

#footer
{
	height: 140px;
}

/* END Home */

/* Features */

.mockup
{
	padding-bottom: 15px;
	padding-top: 20px;
}

.features-image
{
	width: 100%;
	height: 400px;
	display: block;
	
}

.features-text
{
	width: 100%;
	height: 1350px;
	display: block;
}

.features-footer
{
	width: 100%;
	height: 10px;
	background-color: #3F4136;
}

#features-website-right > h2
{
	padding-top: 30px;
	font-size: 1.5em;
	letter-spacing: 2px;
	font-weight: bold;
}

#features-website-right > p
{
	font-size: 1.3em;
}


.figure
{
	display: block;
	text-align: center;
	padding-bottom: 30px;
}

#mockup-ipad
{
	width: 100%;
	padding-top: inherit;
	padding-bottom: 15px;
}

#mockups-container
{
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.non-container-row > div
{
	width: 90%;
}

.one-third-stacking-col
{
	width: 100%;
	display: block;
}


}