@media (max-width: 1200px) and (min-width: 740px){

/* Home */
#topbar
{
	height: 40px;
	width: 100%;

}

#topbar-left
{
	float: left;
	display: inline-block;
}

#topbar-right
{

}

#signin-button
{
	height: 100%;
	width: 100%;
	text-align: center;
	padding-top: 9px;
	font-weight: bold;
}

#signin-button a
{

	color: #D6C376;
}


#mainbar
{
	height: 100px;
	width: 100%;
}

#mainbar-container
{
	margin-top: 10px;
}

#mainbar h1
{
	text-align: center;
	width: 100%;
	font-variant: small-caps;
	font-size: 2.0em;

}

#mainbar h1
{
	text-align: center;
	font-variant: small-caps;
	font-size: 2.0em;
	padding: 0px;
	margin: 0px;
	padding-top: 35px;
	width: 100%;
	white-space: nowrap;


}

#mainbar-headerlinks
{
	float: right;
	font-variant: small-caps;

}

#mainbar-headerlinks > ul > li
{
	display: none;
}

#mainbar-headerlinks > ul > li > a
{
}

#mainbanner
{
	height: 600px;
	width: 100%;
	display: inline-block;
}

#banner
{
	background-position: 60% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}


#followerbanner
{
	width: 100%;
	height: 20px;
	margin-top: -5px;
	padding: 0px;
}

#followerbanner > ul
{
	display: none;
}

#followerbanner > p
{
	display: none;
}

#banner-rear
{
	color: #666666;
	display: block;
	padding-top: -20px;


}

#banner-overlay-container
{
	position: relative;
}

#banner-overlay
{
	position: absolute;
	top: 70px;
	left: 0px;
	width: 70%;
	color: #000;
	z-index: 1;
}

#banner-action
{
	position: absolute;
	top: 180px;
	right: 0px;
	width: 25%;
	z-index: 1;
}

#banner-action-button
{
	padding: 20px;
	margin-top: 40px;
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: bold;
}

#banner-shouter
{
	display: block;
	text-transform: uppercase;
	font-size: 3em;
}

#banner-follower
{
	display: block;
	text-transform: none;
	font-size: 1.5em;
	padding-top: 30px;
}
#howitworks-content
{
	text-align: center;
	margin-top: 60px;
}

#howitworks-message
{
	margin-top: 60px;
	font-size: 1.2em;
}

#howitworks-content h2
{
	font-variant: small-caps;
}

#howitworks-cols
{
	margin-top: 60px;
}

#howitworks-cols h3
{
	font-size: 3.0em;
	font-variant: small-caps;
}

#howitworks-cols img
{
	display: block;
	width: 80%;
	margin: 0 auto;

}

#footer
{
	height: 140px;
}

/* END Home */



}